<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunayanpradhan.unixpaper">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.SET_WALLPAPER" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UNIXPAPER">
        <activity
            android:name=".SportActivity"
            android:label="SPORT"
            android:exported="false" />
        <activity
            android:name=".EventActivity"
            android:label="EVENT"
            android:exported="false" />
        <activity
            android:name=".CelebrityActivity"
            android:label="CELEBRITY"
            android:exported="false" />
        <activity
            android:name=".WildlifeActivity"
            android:label="WILDLIFE"
            android:exported="false" />
        <activity
            android:name=".NatureActivity"
            android:label="NATURE"
            android:exported="false" />
        <activity
            android:name=".download"
            android:exported="false"
            android:label="DOWNLOAD" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>